*.class
*.log

# Project specific
bin/

# Eclipse specific
.classpath
.cache
.settings

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
/.cache-main
/.cache-tests
/atk-development.zip
/tmp.txt
/tmp2.txt
/.url-cache/
