# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/bin/
/.cache-tests
/.cache-main
/.classpath
/rect.bmp
/rect.gif
/rect.ico
/rect.pdf
/rect.png
/test.txt.gz
/tmp.txt
/tmp2.txt
/.url-cache